@font-face {
    font-family: 'Quin';
    src: url('fonts/Quin.ttf') format('truetype');
}

@font-face {
    font-family: 'Mona';
    src: url('fonts/Mona-Sans.ttf') format('truetype');
}


@font-face {
    font-family: 'Monarcha';
    src: url('fonts/Monarcha.ttf') format('truetype');
}